/*Commissions hero*/
.commissionsHeroSidebar {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 35rem;
  }
  .itemHeroCommissions {
    flex: 1;
    background-color: #ffffff;
    margin: 0.5rem 0;
    border-radius: 1.5rem;
    transition: flex 0.5s ease, background-color 0.5s ease, background-position 0.5s ease, color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: end;
    color: transparent;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: auto;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
  }

  .itemHeroCommissions:hover {
    flex: 2;
    background-color: var(--accent);
    color: white;
    background-position: center;
  }

  .itemHeroCommissions:not(:hover) {
    flex: 0.5;
  }

  .half-bodyCommission:not(:hover) {
    background-position: 0 -40px;
  }

  .full-bodyCommission:not(:hover) {
    background-position: 0 -10px;
  }

  .commissionsHeroContainer {
    display: flex;
    height: fit-content;
    border-radius: 2rem;
    padding: 1rem;
    width: auto;
    background: var(--gray1);
  }

  #ActiveComponentWrapper {
    height: 100%;
    width: 100%;
    background-color: var(--gray2);
    background-size: 120%;
    background-position: center;
    mask: url('../assets/container.svg');
    mask-position: bottom right;
    mask-size: 65rem;
    border-radius: 2rem;
    overflow: hidden;
  }
  .commissionsHeroBackground {
    width: calc(100% - 220px);
    height: auto;
    margin-left: 20px;
    mask-size: 65rem;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
  }
  .containerHeroMain {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: visibility 0s, height 0s, opacity 0.5s, transform 0.5s;
    background-color: none;
    pointer-events:none;
  }
  .commissionsHeroHeader {
    font-size: 200pt;
    z-index: 300;
  }
  #callForActionPortfolio {
    position: absolute;
    right: 5rem;
    bottom: 0rem;
    color: var(--white);
    background-color: var(--accent);
    width: 15rem;
    height: 5rem;
    border-radius: 100px;
    text-align: center;
    align-content: center;
  }
  #callForActionPortfolioCircle {
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    background-color: var(--dark);
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
    text-align: center;
    align-content: center;
  }