/* Home section */
/* containers Home */
.fulltosbutton {
	width: 10rem;
	height: 10rem;
	position: relative;
	background: var(--gray2);
	border-radius: 2rem;
}
.fulltosbutton[data-ison="true"] {
	position: fixed;
	width: 100vw;
	height: 100vh ;
	top: 0;
	left: 0;
	background: var(--gray2);
	z-index: 20;
	border-radius: 0;
}

#container1 {
	border-radius: 3rem;
	margin: auto auto;
	background: var(--gray2);
	width: 55rem;
	height: 35rem;
	padding: 1.5rem;
	transition: all 0.5s ease-in-out;
	position: relative;
}

#backgroundelements {
	width: 100vw;
	overflow: hidden;
	position: absolute;
	display: block;
}

#heroInner {
	position: relative;
	width: auto;
	height: 100%;
	background: var(--gray1);
	border-radius: 2.5rem;
	mask: url('../assets/square-corner.svg');
	mask-position: top right;
	mask-size: 70rem;
}
#herologo {
	position: absolute;
	height: 4.5rem;
	right: 2rem;
	top: 2.5rem;
	fill: var(--white);
}
.clock {
	position: absolute;
}
#clock1 {
	width: 32rem;
	top: 0;
	right: -1rem;
}
#clock2 {
	width: 32rem;
	top: -15rem;
	left: -12rem;
}
#clock3 {
	width: 40rem;
	top: calc(100vh + 5rem);
	left: -15rem;
}

#clock4 {
	width: 50rem;
	top: calc(100vh + 50rem);
	right: -20rem;
}

#clock5 {
	width: 18rem;
	bottom: 1rem;
	left: 2rem;
}

#socialstack {
	position: absolute;
	top: 8rem;
	fill: #000;
	right: 2rem;
	width: 3rem;
	height: 15rem;
}

#callforactionCommissions {
	position: absolute;
	bottom: 1rem;
	left: calc(50% - 6rem);
	height: 3.5rem;
	font-size: 110%;
	border-radius: 2rem;
	width: 12rem;
	transition: all 0.1s ease-in-out;
}

#callforactionCommissions:hover {
	transform: scale(1.05);
}

#contactCommissions {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	height: 3.5rem;
	width: 15rem;
	transition: all 0.1s ease-in-out;
	display: flex;
	cursor: pointer;
}

#contactCommissions:hover {
	transform: scale(1.05);
}

#contactCommissionsIconSVG {
	transition: all 1s ease-in-out;
}

#contactCommissions:hover #contactCommissionsIconSVG {
	transform: rotate(360deg);
}

#contactCommissionsInner {
	background: var(--dark);
	color: var(--white);
	height: 100%;
	font-size: 110%;
	width: 12rem;
	border-radius: 2rem;
}

#contactCommissionsIcon {
	width: 3.5rem;
	height: 3.5rem;
	transition: all 1s ease-in-out;

}

#contactCommissionsIconbg {
	fill: var(--dark);
}

#contactCommissionsIconInner {
	margin: auto;
	fill: var(--white);
}

.stackIcon {
	fill: var(--dark);
	transition: all 0.1s ease-in-out;
}

.stackIcon:hover {
	fill: var(--accent);
	transform: scale(1.1);
}

#spash {
	background: url('../assets/spash.png');
	filter: blur(var(--scroll-amount-splash));
	position: absolute;
	background-size: cover;
	width: 110vw;
	margin-left: -5vw;
	height: 110vh;
	z-index: -1;
}

#home h1 {
	text-align: center;
	font-family: 'Syne', serif;
	font-size: 300%;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 0rem;
	margin-bottom: 1rem;
	transform: scalex(90%)
}

#container2 {
	z-index: 1;
	margin-bottom: -4rem;
	background: var(--white);
	top: 1rem;
	border-radius: 4rem 4rem 0 0;
	height: 50rem;
}
#container2[data-ison="true"] {
	height: 80rem;
}
.trelloboard {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 1rem;
}
.board .list-wrapper {
	width: 2rem !important;
	min-width: none !important;
}
#container3 {
	background: var(--gray1);
	z-index: 3;
	min-height: 45rem;
	height: calc(100vh - 10rem);
	border-radius: 4rem 4rem 0 0;
	flex-direction: column;
	justify-content: space-between;
}

#container4 {
	position: relative;
	background: var(--white);
	z-index: 3;
	height: 64rem;
}

.containerHeader {
	align-self: flex-start;
	margin: 0 auto;
	cursor: pointer;
}

/*Hero Card */
#ct1wrapper {
	width: 100%;
	height: 90vh;
}
.reactclock {
	fill: none;
	stroke: var(--dark);
	stroke-miterlimit: 10;
	stroke-width: 0.02rem;
}

.reactclockrect {
	fill: none;
	stroke: var(--dark);
	stroke-miterlimit: 10;
	stroke-width: 0.02rem;
	transform: translate(-11.04 106.82);
}

/*commission row buttons more info expeanded */
#expandedmoreinfobutton {
	background: var(--gray1);
	padding: 1rem;
	border-radius: 2rem;
	align-content: center;
	overflow: hidden;
	mask-position: top right;
	mask-size: 120rem;
	position: inherit;
}
#commissionsbuttonrow {
	display: flex;
	flex-direction: row;
	position: relative;
	margin-top: 1rem;
	gap: 1rem;
}

#commissionsbuttonrowother {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
#commissionbuttonsclose {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	width: 8rem;
	position: absolute;
	top: 0;
	right: 9rem;
}
.cbcbutton {
	flex: 1;
	height: 3.5rem;
	border-radius: 2rem;
	background-color: var(--gray1);
	color: var(--dark);
}
.cbrbutton {
	height: 4rem;
	min-width: 8rem;
	border-radius: 2rem;
	background-color: var(--gray1);
	color: var(--dark);
}

#expandedmoreinfoInner {
	display: flex;
	gap: 1rem;
	flex-direction: row;
	align-content: stretch;
	align-items: stretch;
	width: 100%;
	height: 100%;
}

#expandedmoreinfoInner .wrapper {
	border-radius: 1rem;
	background: var(--white);
	width: auto;
	flex: 1;
}
.corner2 {
	mask: url('../assets/square-corner2.svg');
	mask-position: top right;
	mask-size: 120rem;
}
/*contact section*/

#contactBlurbwrapper {
	width: 45rem;
	height: 12rem;
	position: relative;
	margin: 5rem auto;
}

#contactBlurb {
	width: 100%;
	height: 100%;
	border-radius: 3rem;
	background: var(--gray2);
	mask: url('../assets/bottom-square-corner.svg');
	mask-position: bottom left;
	mask-size: 48rem;
	flex-direction: column;
	justify-content: center;
}

#contactblurblogo {
	width: 4rem;
	position: absolute;
	bottom: 0.6rem;
	left: 0.5rem;
	fill: var(--dark);
}

#contactBlurb h2 {
	text-align: center;
	font-size: 350%;
	margin: 0;
	font-weight: 500;
}

#contactDiscordWrapper {
	justify-content: center;
	flex-direction: column;
}

#contactDiscord {
	height: 3.5rem;
	width: 15rem;
	transition: all 0.1s ease-in-out;
	display: flex;
	cursor: pointer;
}

#contactDiscord:hover {
	transform: scale(1.05);
}
#contactDiscordInner {
	height: 100%;
	font-size: 110%;
	width: 12rem;
	border-radius: 2rem;
}
#contactFotter {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#contactFotterInner {
	display: flex;
	flex-direction: row;
}

#contactFotter a {
	color: var(--dark);
	font-size: 120%;
	padding: 0.5rem;
	margin-top: 1rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	height: fit-content;
}

#contactFotter a:hover {
	font-size: 120%;
	background: var(--white);
	padding: 0.5rem;
	border-radius: 0.3rem;
}

#contactFotter h2 {
	font-size: 1.2rem;
	margin-top: 1.5rem;
}

@media (orientation: portrait) {
	#expandedmoreinfoInner {
		flex-direction: column;
	}
}